.Page_1_sect7{
     width: 99.2vw;
    height: 100vh;
      .container{
        width: 98vw;
        display: flex;
        justify-content: center;
    .foto{
        width: 1300px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../../assets/Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        .text{
            height:10vh;
           h2{
            font-size:67px ;
            color: white;
           } 
        }
        .raspisanie{
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            h2{
                font-size: 50px;
                color: white;
            }
            p{
                line-height: 2;
                width: 18vw;
                font-size: 20px;
               display: flex;
                justify-content: flex-end;
                color: white;
            }
        }
    }
    .knopki{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        .left{
            width: 222px;
            height: 60px;
            border: none;
            border-radius: 4vh;
            background: #FF8A00;
            color: white;
            font-size: 20px;
        }
        .right{
            width: 222px;
             height: 60px;
             border: none;
             border-radius: 4vh;
             background: white;
             color: #311F09;
             font-size: 20px;
        }
    }
}
}